.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store
professional-impact-statement.md
skill-note.md
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
